// Feature service
.feature-item {
	i {
		width: 80px;
		height: 80px;
		border-radius: 100%;
		text-align: center;
		display: inline-block;
		font-size: 20px;
		padding-top: 28px;
		color: $black;
	}

	.content {
		padding-left: 30px;
	}
}

.cta-2 {
	background: rgba(238, 223, 204, 0.5);
	padding: 20px 0px 6.5rem 0px;

	.subscribe {
		.form-control {
			background: rgba(255, 255, 255, .7);
			border: 1px solid rgba(0, 0, 0, 0.03);
			border-radius: 5px;
		}
	}
}


// ABout
// 

.about {
	position: relative;

	.about-img {
		img {
			box-shadow: 0px 20px 40px 0px rgba(38, 59, 94, 0.1);
			border: 10px solid $light;
			border-radius: 50%;
		}
	}

	&:before {
		position: absolute;
		content: "";
		right: 0px;
		top: 0px;
		width: 75%;
		height: 100%;
		background: #F4F7FC;
		border-radius: 20px 0px 0px 20px;
	}
}

//  Cta 
.cta-home {
	background: #F4F7FC;
}

.chapter-item {
	padding: 30px;
	box-shadow: 12px 7px 90px 0 rgba(110, 123, 131, 0.1);
	margin-bottom: 30px;

	h4 {
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 1px;
		color: $primary-color;
	}
}

// Book Preview
.book-preview {
	display: inline-block;
	max-width: 400px;
	width: 100%;
	position: relative;
}

.book-preview .background-device {
	width: 100%;
}

/* Owl Slider */
.book-pages {
	width: 80%;
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	left: 10%;
	margin-top: 10%;
}

.book-pages .item {
	position: absolute;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
	left: 0;
	top: 0;
}

.book-pages .item .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease;
	background: rgba(0, 0, 0, 0.7);
}

.book-pages .item:hover .overlay {
	opacity: 1;
}

.book-pages .item img {
	width: 100%;
	// margin:15% auto;
	transition: all 0.3s ease;
	border-radius: 4px;
}

.book-pages .item .overlay>a {
	position: absolute;
	display: inline-block;
	left: calc(50% - 30px);
	top: calc(50% - 25px);
	font-size: 24px;
	line-height: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
	background: white;
	border-radius: 50%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
	color: $secondary-color;
}

.book-pages .item .overlay>a:hover {
	color: white;
	background: $primary-color;
}

.book-info {
	ul li {
		padding: 15px 30px;
		margin-bottom: 5px;
		font-weight: 700;
		box-shadow: 12px 7px 90px 0 rgba(110, 123, 131, 0.1);

		i {
			color: $primary-color;
		}
	}
}


// others book
.book-item {
	position: relative;

	&:hover .hover-item {
		opacity: 1;
		visibility: visible;
	}

	.hover-item {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		left: 0px;
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all .35s ease;
		-moz-transition: all .35s ease;
		-ms-transition: all .35s ease;
		-o-transition: all .35s ease;
		transition: all .35s ease;

		i {
			width: 60px;
			height: 60px;
			background: $light;
			color: $black;
			text-align: center;
			display: inline-block;
			border-radius: 100%;
			padding-top: 20px;
			-webkit-transition: all .35s ease;
			-moz-transition: all .35s ease;
			-ms-transition: all .35s ease;
			-o-transition: all .35s ease;
			transition: all .35s ease;

			&:hover {
				background: $primary-color;
				color: $light;
			}

		}
	}
}



.order-details {
	padding: 30px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

	li {
		line-height: 1;
		margin-right: 2em;
		margin-left: 0;
		padding-right: 4em;
		color: #777;
		padding-left: 0;
		list-style-type: none;
		text-transform: uppercase;
		border-right: 1px dashed #d3ced2;

		h5 {
			margin-top: 15px;
			text-transform: capitalize;
		}
	}
}


///Responsive
///


@include mobile {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}

}

@include mobile-xs {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}

}

@include tablet {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}
}

@include desktop {
	.order-details li {
		width: 100%;
		border-right: 0px;
		padding: 20px 20px;
		background: $border-color;
	}
}