/*
Author       : Themefisher
Template Name: Influencer - Book landing template
Author URI : https://themefisher.com/
Description: Influencer,it, onepage,clean,bootstrap4, 
Version      : 1.0
*/


// Fonts 
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,600,700&display=swap');

html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    
}

body {
    font-family: $secondary-font;
    font-size: 16px;
    line-height:30px;
    margin: 0;
    text-align: left;
    background-color: $light;
    font-weight: 300;
    color: #6a7695;
}
body ,html{
    width: 100%;
    height:100%;
}

/*--------------------
 TYPOGRAPHY
-----------------*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
   
    font-family: $primary-font; 
    font-weight: 700;
    line-height: 1.35;
    margin-bottom: .5rem;
    color: $black-light;
}

.h1,
h1 {
    font-size: 2.125rem;
    line-height: 40px;
}

.h2,
h2 {
    font-size: 1.625rem;
}

.h3,
h3 {
    font-size: 28px;
}

.h4,
h4 {
    font-size: 22px;
}

.h5,
h5 {
    font-size: 18px;
}

.h6,
h6 {
    font-size: 16px;
}


.text-sm{
    font-size: 14px;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    color: #263b5e;

    &:hover{
        color: $primary-color;
    }
}


.section-heading{
    h2{
        color: #263b5e;
        font-weight: 600;
    }
}

